*{
    margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
h1{
display: inline;
}
b{
    display: block;
}
.containerr{
border: 10px double blue;
margin: auto;
width: 800px;
height: 600px;
text-align: center;
}
.container{
width: 900px;
height: 700px;
border:10px  dashed yellow;
margin: auto;
display: flex;
justify-content: start;
justify-content: center;
justify-content: end;
justify-content: space-between;
justify-content: space-around;
justify-content: space-evenly;
}
.wrap{
width: 150px;
height: 200px;
border: 5px dashed blue;

}







