*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
button{
    padding: 10px 50px;
padding: 10px 20px 30px 50px;
margin: 50px;
margin: 50px 60px 70px 80px;
}







