*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    
    
}
button{
    padding: 10px 20px;
padding: 5px 10px 15px 20px;
margin: 20px;
margin: 20px 30px 40px 50px;
}
